*{
    font-family: sans-serif;
}
.production{
    border: 1px solid black;
    display: inline-block;
    width: 80vw;
}
.production:only-child{
    width: auto;
}
.upgradeScreen{
    /*min-height: 10vw;*/
    width: 50vw;
    position: absolute;
    left: 25%;
    top: 25%;
    border: black 5px solid;
    background-color: white;
}
.upgradeScreen > .closeButton{
    float: right;
    font-size: 200%;
    border: solid red 2px;
    height: 40px;
    width: 40px;
    text-align: center;
}
.hidden{
    visibility: collapse;
}